.App {
  text-align: center;
}

.montserrat {
               font-family: "Montserrat", sans-serif;
               font-optical-sizing: auto;
               font-weight: 700;
               font-style: normal;
             }

/* In App.css */
body {
  font-family: 'montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height */
}

h1 {
  font-family: 'montserrat', sans-serif;
  font-weight: 800;
  font-size: 4rem;
}

h2 {
  font-family: 'montserrat', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: 1rem;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0.5rem 0.25rem 0;
  border-color: black;
  border-style: solid;
  border-width: 0.125rem;
  min-width: 8rem;
  width: 8rem;
  max-width: 8rem;
  min-height: 4rem;
  height: 4rem;
  max-height: 4rem;

}

button, .backArrow {
  transition: transform 0.2s ease; /* smooth transition */
}

.buttonMain {
  color: #ffffff;
  background: #000;
}

.buttonSecondary {
  background: #ffffff;
}

button:hover,
.backArrow:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.ProjectName {
  all: unset;
}

.hidden {
  visibility: hidden;
}

