.TitleContent {
    display: flex;
    justify-content: center;
    width: 100%;
}

.DetailsContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

#DetailsContent_Game-Review-Site {
    padding-bottom: 50rem;
}

#DetailsContent_Game-Review-Site button {
    display: none;
}

#DetailsContent_About-Me button {
    display: none;
}

#Details_About-Me .backArrowContainer {
    display: none;
}

/* Scoped to the .ProjectDetails component */
.DetailsContent img {
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
    image-rendering: crisp-edges; /* or try crisp-edges */
}


.DetailsContent button {
    display: block;
    margin: auto;
}

